.skull {
  display: block;
  width: 60vw;
  display: flex;
  flex-flow: wrap;

  span {
    flex: 1.25%;
    white-space: pre;
    letter-spacing: 0;
    line-height: 1.4;
    font-family: monospace;
    font-size: 1.2vw;

    color: aqua;
  }
}
