$pixelSize: calc(10px + (30 - 10) * ((100vw - 200px) / (1698 - 200)));;

.skull {
  display: block;
  white-space: pre;

  div {
    text-align: center;
  }

  span {
    display: inline-block;
    white-space: pre;
    letter-spacing: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: $pixelSize;
    line-height: $pixelSize;
    width: $pixelSize;
    height: $pixelSize;

    color: aqua;
  }
}
